*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.navbar-brand img{
    width: 75px;
    height: 75px;
}
body{

    background-color: black;
    overflow-x: hidden;
    line-height: 1,5rem;
}
.navbar{

    border: 2px solid #fafafa10;
    border-radius: 25px;
    background-color: black;
     padding: 0;
    z-index: 5;
    
    
    
    
}
.nav-item{
 
    height: 100px;
    display: flex;
    align-items: center;
    margin: 0;
    color: white;
    

}
.nav-item:hover{

    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.nav-link{

    color: white;

}

.nav-link:hover{

    color: white;

}
.contenedor{

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 3px solid #fafafa10;
    border-radius: 25px;
    z-index: 3;
    background-color: #fafafa10;
    display: flex;
    width: 100%;
    height: 95vh;
    overflow-x: hidden;

    


    
    }
    .header{
        

        height: 100vh;
        display: flex;
        align-items: center;
        color: #fff;
        justify-content: center;
        position: relative;
        
        
        
        
        
    }

    .content{

        
        padding-left: 1rem;
        padding-right: 1rem;
        margin: auto;
        text-align: center;
    }

    .header-video{

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        border: 2px solid #fafafa10;
    border-radius: 20px;
    

    }
    .header-video video{

        min-width: 100%;
        min-height: 100%;

    }

    .header-overlay{

        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        z-index: 1;
        opacity: .50;
    }
    
    .header-content h1 {

        font-size: 50px;
        margin-bottom: 0;
    }
    .header-content p{

        font-size: 1.5rem;
        display: block;
        padding-bottom: 2rem;

    }
    .btn {

        background: #f4b237;
        color: #fff;
        font-size: 1.2rem;
        padding: 1rem 2rem;
        text-decoration: none;
        border: 2px solid #00000055;
    }

    .btn:hover{

        border: 2px solid #00000055;
        color: black;
        background-color: #fff;
        transition: 0.3s ease-in-out;
    
        

    }
    .imagen img{
        width: 14rem;
        
    }
    .card img{

        width: 100px;
        height: 100px;

    }